<h2>Members Area</h2>
<%= link_to 'Posts', posts_path %> |
<%= link_to 'Members', users_path %> |
<%= link_to 'Add new event', new_event_path %> 

<div class="row">
    <div class="col-md-4">
      <h3>Members</h3>
      <% @users.each do |user|%>
  <div>
    <%= user.name %> - 
    <%= format_date user.birthday %>
  </div>
<% end %>
    </div>
    <div class="col-md-4">
      <h2>This month's birthdays</h2>
    </div>
    <div class="col-md-4">
      <h2>Upcoming Events</h2>
    </div>
  </div>

