<h2>Members Area</h2>

  <div class="row">
    <div class="col-md-4">
      <h3>Members</h3>
      <% @users_alphabetical.each do |user|%>
      <div>
       
      <%= link_to "delete", user_path(user), method: :delete if current_user && current_user.admin  %>
      <strong><%= user.name %></strong>&nbsp; &nbsp;<%= link_to "edit member", edit_user_path(user), class: "btn btn-xs btn-warning text-right" if user == current_user %>
      
      </div>  
      <% end %>
    </div>

    <div class="col-md-4">
      <h3>This Month's Birthdays</h3>
      <% @users_birthday.each do |user|%>
        <% if display_month_birthday(user.birthday) %>
          <div>
            <strong><%= user.name %></strong> 
          </div>
          <div>
            <%= user.birthday.strftime("%b %d") %>
          </div>
         
        <% end %>
      <% end %>
    </div>

    <div class="col-md-4">
      <h3>Upcoming Events</h3>
      <% if @events.count == 0 %>
      <h5>No Events Yet!</h5>
      <% else %>
      <% @events.each do |event| %>
        <div>
          <strong><%= event.title %></strong>
        </div>
        <div>
            <%= event.date.strftime("%b %d, %Y") %>
        </div>
        
        <% end %>
      <% end %>
    </div>  
    
  </div>
</div>
