
<div class="row">
  <div class="col-xs-4">

    <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
            <div class="error_messages">
                <h2>Form is invalid</h2>
                <ul>
                    <% for message in @user.errors.full_messages %>
                        <li>
                            <%= message %>
                        </li>
                        <% end %>
                </ul>
            </div>
        <% end %>
    <div class="wrapper">
        <div class = "new_user">
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :email %>
                <%= f.text_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :birthday %>
                <%= f.date_field :birthday, class: "form-control" %>
                <span>year will not be displayed</span>
            </div>

            <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
        </div>
        
        <div class="text-center">
        <button type="submit" class="btn btn-success" >Create User</button>
        <% end %>
        </div>
    </div>
  </div>
</div>


