<h2>Members Area</h2>

<div class="row">
  <div class="col-md-4">
    <h3>Create new event</h3>
    <%= form_for @event do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :date %>
        <%= f.date_field :date, class: "form-control" %>     
      </div>
      <div class="form-group">
        <%= f.label :public, "Is this a public event(concert, workshop, etc) " %>
        <%= f.check_box :public %>
      </div>
      <div>
        <%= f.submit "Create Event", class: "btn btn-success"%>
      </div>
    <% end %>   
  </div>

  <div class="col-md-4">
  </div>
  
  <div class="col-md-4">
    <h3>Upcoming Events</h3>
    <% if @events.count == 0 %>
      <h5>No Events Yet!</h5>
    <% else %>
      <% @events.each do |event| %>
        <div>
          <strong><%= event.title %></strong>
        </div>
        <div>
            <%= event.date.strftime("%b %d, %Y") %>
        </div>
        
        <div>
            <%= link_to "edit event", edit_event_path(event), class: "btn btn-xs btn-warning text-right" %>         
            <%= link_to "delete event", event_path(event), class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this event?" } %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>

   
  
  



      
   
 

