<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <% @photos.each_with_index do |photo, idx| %>
                <% if idx % 3 == 0 %>
                    <div>
                        <%= image_tag photo.image.url, class: "medium" %>
                        <br>
                        <%= photo.content %>
                        <%= link_to "delete photo", photo_path(photo), class: "btn btn-xs btn-danger", method: :delete, data: { confirm:
                        "Are you sure you want to delete this photo?"} if photo.user == current_user %>  
                    </div>
                <% end %>    
            <% end %>
        </div>
        <div class="col-xs-4">
            <% @photos.each_with_index do |photo, idx| %>
                <% if idx % 3 == 1 %>
                    <div>
                        <%= image_tag photo.image.url, class: "medium" %>
                        <br>
                        <%= photo.content %>
                        <%= link_to "delete photo", photo_path(photo), class: "btn btn-xs btn-danger", method: :delete, data: { confirm:
                        "Are you sure you want to delete this photo?"} if photo.user == current_user %>  
                    </div>
                <% end %>    
            <% end %>
        </div>
        <div class="col-xs-4">
            <% @photos.each_with_index do |photo, idx| %>
                <% if idx % 3 == 2 %>
                    <div>
                        <%= image_tag photo.image.url, class: "medium" %>
                        <br>
                        <%= photo.content %>
                        <%= link_to "delete photo", photo_path(photo), class: "btn btn-xs btn-danger", method: :delete, data: { confirm:
                        "Are you sure you want to delete this photo?"} if photo.user == current_user %>  
                    </div>
                <% end %>    
            <% end %>
        </div>
    </div>
</div>


